/*
furby main stylesheet - all main styles here
*/
.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    -fx-base: #CCCCFF;
    -fx-background-color: #CCCCFF;
}

.label{
    -fx-font-size: 12pt;
    -fx-font-family: "Abel";
}

.hbox{
    -fx-background-color: red;
}


